### 시리즈
데이터가 순차적으로 나열된 1차원 배열(리스트)이다.<br>
인덱스(index)는 데이터값(value)와 일대일 대응함.

In [5]:
# pandas(외부 라이브러리) 설치
pip install pandas

SyntaxError: invalid syntax (1205525513.py, line 2)

In [15]:
import pandas
# s = pandas.Series(['사과', '감', '바나나'])
s = pandas.Series(['사과', '감', '바나나'], index=[1, 2, 3])
print(s)

print(s.index)
print(type(s))

1     사과
2      감
3    바나나
dtype: object
Index([1, 2, 3], dtype='int64')
<class 'pandas.core.series.Series'>

In [21]:
import pandas as pd

s = pd.Series([3000, 2000, 1000])
s.index = [1, 2, 3]
print(s)

1    3000
2    2000
3    1000
dtype: int64

### dataframe
series를 결합한 형태다.<br>
행과 열을 가진 2차원 리스트 형태다.

In [52]:
import pandas as pd
name = pandas.Series(['사과', '감', '바나나'])
price = pd.Series([3000, 2000, 1000])

data = {
    'name': name,
    'price': price
}

df = pd.DataFrame(data)
df
type(df)

df.columns

Index(['name', 'price'], dtype='object')

In [76]:
# 방법2 - 데이터 프레임 만들기
data = {
    'name': ['사과', '감', '바나나'],
    'price': [3000, 2000, 1000]
}

df = pd.DataFrame(data)
df

# 칼럼 이름 변경 - rename()
df_new = df.rename(columns={'name': '이름', 'price': '가격'})
print(df_new)

# 새 칼럼 추가
df_new['중량'] = '100g'
print(df_new)

# 데이터의 정보
df_new.info()

# TO_csv(파일이름) : df_new를 CSV 파일로 저장하기(쓰기)
df_new.to_csv('fruit.csv', index=False)

# read_csv(파일이름) : csv파일 읽기
fruit = pd.read_csv('fruit.csv')
print(fruit)

    이름    가격
0   사과  3000
1    감  2000
2  바나나  1000
    이름    가격    중량
0   사과  3000  100g
1    감  2000  100g
2  바나나  1000  100g
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   가격      3 non-null      int64
 2   중량      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
    이름    가격    중량
0   사과  3000  100g
1    감  2000  100g
2  바나나  1000  100g

In [90]:
import pandas as pd

df = pd.DataFrame({
    '메뉴': ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    '가격': [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    '칼로리': [10, 110, 250, 110, 20, 210, 0]
})
print(df)

# csv 파일로 저장
df.to_csv('data/cafe.csv', index=False)

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [160]:
df = pd.read_csv('data/cafe.csv')
# head(), tail() - 상위 5개, 하위 5개 출력...괄호 안에 갯수를 넣으면 그 만큼 출력됨
print(df.head(10))

df.describe()  
df.describe(include='number')  #숫자칼럼, include='number' 생략 가능
df.describe(include='object')  #문자열 칼럼

# astype() : 칼로리 자료형 변환 -> 실수형
df['칼로리'] = df['칼로리'].astype('float')
df['칼로리']

# 파생칼럼 생성 - 할인가(가격 20% 할인)
df['할인가'] = df['가격'] * 0.8
df['할인가'] = df['할인가'].astype('int')
df

# 할인가를 할인가격으로 이름 변경
df = df.rename(columns={'할인가' : '할인가격'})
df

# df.info()

# cafe2.csv로 저장
# TO_csv(파일이름) : CSV 파일로 저장하기(쓰기)
df.to_csv('data/cafe2.csv', index=False)

import pandas as pd

df = pd.read_csv('data/cafe2.csv')
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

      메뉴    가격    칼로리  할인가격
0  아메리카노  4500   10.0  3600
1   카페라떼  5000  110.0  4000
2   카페모카  5500  250.0  4400
3   카푸치노  5000  110.0  4000
4  에스프레소  4000   20.0  3200
5    밀크티  5900  210.0  4720
6     녹차  5300    0.0  4240