### 반복문(for문)

In [57]:
###
# range()
range(1,10)
list(range(1,10)) #시작인덱스, 끝인스스
list(range(10))  # 시작인덱스가 없으면 0부터 시작

for i in range(1,11,2):  #시작인덱스, 끝인덱스, 간격(step)
    print(i)

# for ~ in 리트트
word = ['사과', '바나나', '감']
print('사과' in word)
print('딸기' in word)

for i in word:
    print(i)
###

# 리스트 : 1~10 저장
number = []
for i in range(1,11):
    number.append(i)
print(number)

1
3
5
7
9
True
False
사과
바나나
감
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 딕셔너리

In [60]:
### 키와 값으로 이루어진 자료형<br>
순서가 없음. 키를 통해서 값에 접근한다. 중괄호({}) 사용

SyntaxError: invalid syntax (2129687255.py, line 2)

In [76]:
dictbox = {"name": "쿠키", 'level': 5}
print(dictbox)
type(dictbox)

#키, 값
print(dictbox.keys())
print(dictbox.values())

dictbox['name']
dictbox['level']

# 값 추가
dictbox['id'] = 'cookie'
print(dictbox)

# 값 변경
dictbox['name'] = 'jerry'
print(dictbox)

# 값 삭제
del dictbox['level']
print(dictbox)

{'name': '쿠키', 'level': 5}
dict_keys(['name', 'level'])
dict_values(['쿠키', 5])
{'name': '쿠키', 'level': 5, 'id': 'cookie'}
{'name': 'jerry', 'level': 5, 'id': 'cookie'}
{'name': 'jerry', 'id': 'cookie'}

In [90]:
# 딕셔너리(값이 여러 개 - 리스트와 연동)
cook = ['분식', '한식', '중식']
number = [4, 5, 2]

store = {
    '요리' : cook, 
    '점포수' : number
}
print(store)

# 한식을 조회
print(store['요리'][1])

# 한식 점포수
print(store['점포수'][1])

{'요리': ['분식', '한식', '중식'], '점포수': [4, 5, 2]}
한식
5

In [110]:
# 인덱싱과 슬라이싱
number = [2, 4, 6, 8, 10]

print(number[0:3]) # 0번, 1번, 2번
print(number[:3]) # 0은 생략 가능
print(number[2:]) # 2번부터 끝까지
print(number[:]) # 전체
print(number[:-1]) # 끝에서 하나 앞번
print(number[::2]) # 하나 건너뛰어서 출력(기본이 1), 간격이 2

[2, 4, 6]
[2, 4, 6]
[6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8]
[2, 6, 10]

### 튜플
여러 개의 자료를 저장하는 자료형 구조<br>
요소를 수정하거나 삭제할 수 없다.<br>
접근(조회)은 가능하다.

In [128]:
# 튜플
a = (1, 2, 3)
print(a)
print(type(a))
print(a[0])

b = (3,) # 값이 한 개일 경우 콤마(,)를 넣어줘야 튜블로 인식한다.
print(b)
print(type(b))

(1, 2, 3)
<class 'tuple'>
1
(3,)
<class 'tuple'>

In [140]:
colum = 'age'
print('칼럼:', colum)  # 인자 2개
print('칼럼: ' + colum)  # 연결 연산자
print(f'칼럼: {colum}')  # f포맷 방식

칼럼: age
칼럼: age
칼럼: age

In [154]:
# 내장함수
# len(), sum(), max(), min(), int(), str()

number = [4, 2, 10, 6]
print(type(number))
print(f'개수: {len(number)}')
print(f'합계: {sum(number)}')
print(f'최대값: {max(number)}')
print(f'최소값: {min(number)}')

#평균
avg = sum(number) / len(number)
print('평균값:', avg)

<class 'list'>
개수: 4
합계: 22
최대값: 10
최소값: 2
평균값: 5.5

In [179]:
# 사용자 정의 함수 - def문
def hello():
    print('안녕')

def hello2(name):
    print('안녕', name)

hello2('한강')
hello2('샐리')

안녕 한강
안녕 샐리
안녕 dd
None

In [190]:
# retune이 있는 함수
def squre(x):
    return x * x

def plus(x, y):
    return x + y

result = squre(4)
print(result)

result2 = plus(2, 3)
print(result2)

16
5

In [219]:
# 함수의 매개변수로 리스트를 전달
listbox = [15, 46, 78, 24, 56]

def min_max(data):
    mi = min(data)
    ma = max(data)
    return mi, ma

def mean(a):
    avg = sum(a) / len(a)
    return avg

a, b = min_max(listbox)
print(a, b)
print(b-a)

average = mean(listbox)
print(average)

15 78
63
43.8

In [241]:
# 내장함수 - round(숫자, 출력할 자리수)
print(round(2.5472, 2))
print(round(2.5472, 1))
print(int(round(2.5472, 0)))

# replace(변경전문자, 변경후문자)
text = '빅데이터분석기사 파이썬 공부'
text = text.replace('공부', '스터디')
print(text)

# 문자열 함수 - split(구분기호 문자) - ':', ';', '/'
# 결과가 리스트로 변경됨
date = '2024-11-14'
date = date.split('-')
print(date)
print(f'{date[0]}년 {date[1]}월 {date[2]}일')

2.55
2.5
3
빅데이터분석기사 파이썬 스터디
['2024', '11', '14']
2024년 11월 14일

In [255]:
fruits = 'orange apple banana'
fruits = fruits.split()  # 공백
print(fruits)

['orange', 'apple', 'banana']

### 모듈 - 파일을 사용(함수, 클래스)가 포함됨
import 키워드를 사용

In [280]:
# 날짜와 시간 - datetime, 수학 - math, 게임 - random
import datetime

# 날짜
today = datetime.date.today()
print(today)
print(today.year)
print(today.month)
print(today.day)

# 날짜와 시간
now = datetime.datetime.today()
print(now)
print(now.hour)
print(now.minute)
print(now.second)
print(now.year)

2024-11-13
2024
11
13
2024-11-13 15:20:29.739316
15
20
29
2024

In [286]:
# 특정한 날짜
import datetime

the_day = datetime.date(2024, 10, 1)
print(the_day)
print(type(the_day))

today = datetime.date.today()

passed_day = today - the_day
print(passed_day)

2024-10-01
<class 'datetime.date'>
43 days, 0:00:00

In [292]:
import math

# 버림, 올림
print(math.pi)
print(math.floor(4.9)) #버림
print(math.ceil(4.9)) #올림

3.141592653589793
4
5

### 클래스
사물을 추상화한 객체 자료형임(* 기본자료형 - int, str, bool)<BR>
객체에 대한 속성과 기능을 코드로 구현한 것<br>
class 키워드를 사용

In [299]:
# 학생 클래스 - 학생의 속성과 메서드(함수)ㄹ 구성, 생성자 함수
class student:
    def __init__(self):
        self.name = '한강'
        self.grade = 3
        print('생성자')

# 매개변수(인자)가 없는 클래스
s =  student()
print('이름:', s.name)
print('학년:', s.grade)

생성자
이름: 한강
학년: 3

In [303]:
class student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade

    def student_info(self):
        return f'이름: {self.name}, 학년: {self.grade}'

s1 = student('한강', 3)
print(s1.student_info())

s2 = student('남산', 1)
print(s2.student_info())

이름: 한강, 학년: 3
이름: 남산, 학년: 1