In [51]:
#작업형 유형1
#01
import pandas as pd

df = pd.read_csv('./data/type1_data1.csv')
df.info()
df.head()

#df['f5'].value_counts()

# 0이 아닌 데이터(행)을 구하시오.
cond1 = (df['f5'] != 0)
print(df[cond1])

#views 결측치를 최솟값으로 채워라.
min_va1 = df['views'].min()
print(min_va1)

df['views'] = df['views'].fillna(min_va1)
df.info()

#중앙값을 구해라.
print(int(df['views'].median()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       116 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB
        id    age city    f1  f2    f3    f4         f5  subscribed    views
0     id01    2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02    9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12   2534.0
2     id03   27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16   7312.0
3     id04   75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21    493.0
4     id05   24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07   1338.0
..     ...    ...  ...   ...  ..   ...   ...        ...         ...      ...
97    id97  100.0   경기   NaN   0  gold  INFP  67.886373  2024-03-18   6687.0
98    id98   39.0   경기  58.0   2   NaN  INFP  98.429899  2024-10-02    865.0
99    id99    1.0   경기  47.0   0  gold  ESFJ  97.381034  2024-12-02   6090.0
100  id100   47.0   경기  53.0   0   vip  ESFP  33.308999  2024-02-21  15535.0
101   id68   35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29   8599.0

[102 rows x 10 columns]
42.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       120 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB
5924

In [103]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

df = df['subscribed'].value_counts()
print(df)

int(df.index[0][-2:])

subscribed
2025-02-17    16
2024-06-21     3
2024-04-03     2
2024-07-29     2
2024-05-28     2
              ..
2024-07-08     1
2024-07-20     1
2024-06-10     1
2024-02-01     1
2024-05-20     1
Name: count, Length: 96, dtype: int64

17

In [119]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

#결측치 제거
df = df.dropna()
df

df['new'] = df['views']/df['f1']
df

df = df.sort_values('new', ascending=False)
df

int(df.iloc[0, 1])

22

In [141]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

# 결측데이터를 0으로 대체
df['views'].fillna(0, 
                   
                   
                   
                   inplace=True)

# 내림차순 정렬
df = df.sort_values('views', ascending=False)
df

views_min = df.iloc[:10]['views'].min()
df.iloc[:10, -1] = views_min
print(df)

print(int(df['views'].sum()))

        id   age city    f1  f2   f3    f4         f5  subscribed   views
5     id06  22.0   서울  57.0   0  vip  INTP  20.129444  2024-09-12  9877.0
56    id56  59.0   대구   NaN   1  vip  ESTJ  73.586397  2024-04-05  9877.0
83    id83  73.0   경기  50.0   1  vip  ENTP  80.138280  2024-09-26  9877.0
32    id32  25.0   부산  64.0   0  vip  ISFJ  13.049921  2024-05-24  9877.0
100  id100  47.0   경기  53.0   0  vip  ESFP  33.308999  2024-02-21  9877.0
..     ...   ...  ...   ...  ..  ...   ...        ...         ...     ...
93    id93  21.8   경기  57.0   0  NaN  ISFP  73.586397  2024-06-07    42.0
20    id20  11.0   서울  51.0   1  NaN  INTJ  91.297791  2024-07-16     0.0
48    id48  18.0   대구   NaN   0  NaN  ENFP  20.129444  2024-03-25     0.0
39    id39  56.0   부산  50.0   0  NaN  INFJ  33.308999  2024-12-22     0.0
82    id82  48.0   경기   NaN   0  NaN  ENTJ  37.113739  2024-10-17     0.0

[120 rows x 10 columns]
652812

C:\Users\admin\AppData\Local\Temp\ipykernel_1688\2559079712.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(0,